.contacts {
    padding: 50px 0;
}

.contacts-blok {
    display: flex;
    gap: 50px;
    align-items: center;
}

.contacts-blok__section-1 {
    display: flex;
    flex-direction: column;
}

.contacts-blok__section-1__p-1 {
    color: var(--purple-color);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 95%;
    margin-bottom: 10px;
}

.contacts-blok__section-1__h1-1 {
    color: #fff;
    font-size: 220%;
    max-width: 600px;
    margin-bottom: 20px;
}

.contacts-blok__section-1__p-2 {
    margin-bottom: 20px;
    font-family: var(--p-ff);
    color: var(--text-color);
    line-height: 1.5;
    letter-spacing: 1px;
    max-width: 600px;
}

.contacts-blok__section-1__container {
    padding: 30px 0;
    border-top: 1px solid var(--border-light-color);
    border-bottom: 1px solid var(--border-light-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contacts-blok__section-1__container__section {
    display: flex;
    justify-content: start;
    gap: 30px;
    align-items: center;
}

.contacts-blok__section-1__container__section-part {
    display: flex;
    justify-content: start;
    gap: 15px;
    align-items: center;
    min-width: 260px;
}

.contacts-blok__section-1__container__section__class__icon {
    width: 55px;
    height: 55px;
    background-color: var(--purple-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts-blok__section-1__icon {
    width: 25px;
    height: 25px;
    color: #fff;
}

.contacts-blok__section-1__container__section__class__p-1 {
    color: #fff;
    font-weight: 500;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.contacts-blok__section-1__container__section__class__p-2 {
    font-family: var(--p-ff);
    color: var(--text-color);
    line-height: 1.5;
    letter-spacing: 1px;
    font-size: 95%;
}

.contacts-blok__section-1__footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
}

.contacts-blok__section-1__footer h2 {
    font-weight: 300;
    color: #fff;
}

.contacts-blok__section-1__footer__container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.contacts-blok__section-1__footer__container a {
    text-decoration: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    transition: .5s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts-blok__section-1__footer__icon {
    color: var(--bg-color);
    width: 20px;
    height: 20px;
}

.contacts-blok__section-1__footer__container a:hover {
    background-color: var(--bg-color);
}

.contacts-blok__section-1__footer__container a:hover .contacts-blok__section-1__footer__icon {
    color: #fff;
}





.contacts-blok__section-2 h1 {
    font-size: 220%;
    color: #fff;
    font-weight: 600;
    margin-bottom: 20px;
}

.contacts-blok__section-2 p {
    max-width: 600px;
    margin-bottom: 20px;
    font-family: var(--p-ff);
    color: var(--text-color);
    line-height: 1.5;
    max-width: 400px;
    font-size: 105%;
}

.contacts-form {
    background-image: radial-gradient(at top left, #2B2338 0%, #0A0118 100%);
    padding: 60px 50px;
    border-radius: 10px;
}

.contacts-form__section {
    display: flex;
    justify-content: start;
    gap: 15px;
    margin-bottom: 10px;
}

.contacts-form button {
    background-image: linear-gradient(120deg, var(--violet-color) 20%, var(--purple-color) 60%);
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    letter-spacing: 1.5px;
    font-weight: 600;
    width: 100%;
}

.contacts-form button:hover {
    background-image: linear-gradient(120deg, var(--purple-color) 20%, var(--violet-color) 60%);
}

.contacts-form__section-part {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 5px;
    width: 100%;
}

.contacts-form__section-part label {
    color: #fff;
    font-weight: 600;
}

.contacts-form__section-part input {
    background-color: #0F0520;
    border: 1px solid var(--border-light-color);
    padding: 10px 15px;
    font-size: 105%;
    color: #fff;
    border-radius: 7px;
}

.contacts-form__section-part input:focus {
    border: 1px solid var(--violet-color);
}

.contacts-form__section-part input::placeholder {
    font-weight: 600;
}

.contacts-form__section-part input:focus::placeholder {
    color: var(--text-color);
}

.contacts-form__section-part textarea {
    resize: none;
    background-color: #0F0520;
    border: 1px solid var(--border-light-color);
    padding: 10px 15px;
    font-size: 105%;
    color: #fff;
    border-radius: 7px;
    min-height: 100px;
}

.contacts-form__section-part textarea:focus::placeholder {
    color: var(--text-color);
}

.contacts-form__section-part textarea::placeholder {
    font-weight: 600;
}

@media (max-width: 1300px) {
    .contacts-blok {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .contacts-form {
        padding: 30px 20px;
    }
    .contacts-blok__section-1__container__section {
        flex-direction: column;
        align-items: start;
    }
    .contacts-blok__section-1__p-1 {
        font-size: 12px;
    }
    
    .contacts-blok__section-1__h1-1 {
        font-size: 24px;
    }
    
    .contacts-blok__section-1__p-2 {
        font-size: 14px;
    }
    .contacts-blok__section-1__container__section__class__p-1 {
        font-size: 12px;
    }
    
    .contacts-blok__section-1__container__section__class__p-2 {
        font-size: 14px;
    }

    .contacts-blok__section-1__footer h2 {
        font-size: 18px;
    }

    .contacts-blok__section-1__footer__container a {
        width: 32px;
        height: 32px;
    }
    
    .contacts-blok__section-1__footer__icon {
        width: 16px;
        height: 16px;
    }

    .contacts-blok__section-2 h1 {
        font-size: 24px;
    }
    
    .contacts-blok__section-2 p {
        font-size: 14px;
    }

    .contacts-form button {
        font-size: 11px;
    }

    .contacts-form__section-part label {
        font-size: 14px;
    }
    
    .contacts-form__section-part input {
       font-size: 14px;
    }

    .contacts-form__section-part textarea {
        font-size: 14px;
    }
}

@media (max-width: 580px) {
    .contacts-form__section {
        flex-direction: column;
        align-items: center;
    }
}