.header {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    overflow: hidden;
    background-image: radial-gradient(at top center, #0A011880 10%, #0A0118 85%);
}

.header video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.header-blok {
    position: relative;
    z-index: 1;
    max-width: 800px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-blok h1 {
    font-size: 350%;
    margin-bottom: 10px;
}

.header__p1 {
    display: flex;
    justify-content: center;
    margin: auto;
    font-weight: 600;
    text-transform: uppercase;
    border: 1px solid var(--purple-color);
    border-radius: 30px;
    width: 180px;
    padding: 5px 2px;
    font-size: 90%;
    margin-bottom: 10px;
}

.header__p2 {
    color: var(--text-color);
    max-width: 670px;
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
}

.header-blok__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.header-blok__container__button-2 {
    outline: none;
    padding: 10px 30px;
    border-radius: 30px;
    transition: .5s;
    cursor: pointer;
    background: none;
    color: #fff;
    border: 1px solid #fff;
    width: 162px;
    letter-spacing: 1.5px;
    font-weight: 600;
}

.header-blok__container__button-2:hover {
    background-image: linear-gradient(120deg, var(--purple-color) 20%, var(--violet-color) 60%);
    border-color: linear-gradient(120deg, var(--purple-color) 20%, var(--violet-color) 60%);
}

@media (max-width: 768px) {
    .header {
        background: url(/images/header/header-bg.png) 50% 50%;
        background-image: radial-gradient(at top center, #0A011880 10%, #0A0118 85%);
        background-size: cover;
    }
    .header video {
        display: none;
    }
    .header-blok h1 {
        font-size: 30px;
    }
    .header__p1 {
        font-size: 12px;
    }
    .header__p2 {
        font-size: 14px;
    }
    .header-blok__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header-blok__container button {
        max-width: 700px;
        width: 100%;
        font-size: 11px;
    }
    .header-blok__container a {
        width: 100%;
    }
}