.section4 {
    color: #fff;
}

.section4-blok {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(135deg, var(--violet-color) 0%, var(--purple-color) 100%);
    flex-wrap: wrap;
}

.section4-blok__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
    padding: 0 100px;
}

.section4-blok__section-border {
    border-right: 1px solid #ffffff8a;
}

.section4-blok__section__p-1 {
    font-size: 280%;
    font-weight: bold;
    text-transform: uppercase;
}

.section4-blok__section__p-2 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 90%;
}

@media (max-width: 1276px) {
    .section4-blok__section-border-3 {
        border: none;
    }
}

@media (max-width: 955px) {
    .section4-blok__section-border-2 {
        border: none;
    }
    .section4-blok__section-border-3 {
        border-right: 1px solid #ffffff8a;
        padding-right: 115px;
    }
}

@media (max-width: 768px) {
    .section4-blok__section {
        margin: 20px 0;
        padding: 0 50px;
    }
    .section4-blok__section__p-1 {
        font-size: 30px;
    }
    
    .section4-blok__section__p-2 {
        font-size: 12px;
    }

    .section4-blok__section-border-2 {
        border-right: 1px solid #ffffff8a;
    }
    .section4-blok__section-border-3 {
        border: none;
    }
}

@media (max-width: 585px) {
    .section4-blok__section-border-2 {
        border: none;
    }
    .section4-blok__section-border-3 {
        border-right: 1px solid #ffffff8a;
        padding-right: 62px;
    }
}

@media (max-width: 430px) {
    .section4-blok {
        flex-direction: column;
        align-items: center;
    }
    .section4-blok__section {
        border: none;
    }
}