.section6 {
    background: #0F0520 url(/images/title-bg.png);
    background-position: top center;
    background-size: cover;
    padding-bottom: 100px;
}

.section6-blok {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.section6-blok__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 50px 30px;
    background-image: linear-gradient(215deg, rgba(43, 35, 56, 0.5) 0%, #2B2338 65%);
    transition: .5s;
    cursor: pointer;
}

.section6-blok__section a {
    text-decoration: none;
}

.section6-blok__section:hover {
    opacity: .7;
}

.section6-blok__section__image {
    width: 60px;
    height: 60px;
    background-color: var(--purple-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.section6-blok__section img {
    margin-bottom: 5px;
    width: 32px;
    height: 32px;
}

.section6-blok__section h1 {
    font-size: 140%;
    font-weight: 500;
    color: #fff;
    text-align: center;
    transition: .5s;
    cursor: pointer;
}

.section6-blok__section h1:hover {
    color: var(--violet-color);
}

.section6-blok__section p {
    font-family: var(--p-ff);
    color: var(--text-color);
    line-height: 1.5;
    letter-spacing: 1px;
    max-width: 300px;
    margin-bottom: 10px;
    text-align: center;
}

@media (max-width: 1300px) {
    .section6-blok {
        flex-wrap: wrap;
    }
}

@media (max-width: 768px) {
    .section6 {
        padding-bottom: 50px;
    }

    .section6-blok {
        flex-direction: column;
        align-items: center;
        padding: 30px 20px;
    }

    .section6-blok__section img {
        width: 28px;
        height: 28px;
    }

    .section6-blok__section {
        width: 100%;
    }

    .section6-blok__section h1 {
        font-size: 16px;
    }

    .section6-blok__section p {
        font-size: 14px;
    }

    .section6-blok__section button {
        font-size: 11px;
    }
}