.section2 {
    margin: 100px 0;
}

.section2-blok {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.section2-blok__section {
    width: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section2-blok__section__image {
    padding: 15px;
    border: 1px solid var(--border-color);
    overflow: hidden;
    width: 100%;
    border-radius: 20px;
}

.section2-blok__section__image img {
    width: 100%;
    height: auto;
    transition: .5s;
    filter: brightness(100%) contrast(100%) saturate(0%) blur(0px) hue-rotate(0deg);
    border-radius: 10px;
}

.section2-blok__section__image img:hover {
    filter: initial;
}

.section2-blok__section h1 {
    font-size: 250%;
    max-width: 450px;
    color: #fff;
}

.section2-blok__section__p1 {
    color: var(--purple-color);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 95%;
}   

.section2-blok__section__p2 {
    font-family: var(--p-ff);
    color: var(--text-color);
    line-height: 1.5;
    letter-spacing: 1px;
    max-width: 550px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .section2-blok {
        flex-direction: column;
        align-items: center;
    }
    .section2-blok__section {
        width: 100%;
    }
    .section2-blok__section__p1 {
        font-size: 12px;
    }
    .section2-blok__section h1 {
        font-size: 24px;
    }
    .section2-blok__section__p2 {
        font-size: 14px;
    }
    .section2-blok__section button {
        font-size: 11px;
    }
}