.services {
    margin: 100px 0;
}

.services-blok {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.services-blok__section-1 {
    width: 50%;
}

.services-blok__section-1__h1 {
    color: #fff;
    font-size: 220%;
    font-weight: 600;
    margin-bottom: 20px;
    max-width: 500px;
}

.services-2-blok__section__p-1 {
    font-family: var(--p-ff);
    color: var(--text-color);
    line-height: 1.5;
    margin-bottom: 20px;
    max-width: 500px;
}

.services-blok__section-1__container {
    padding: 20px 0;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: start;
    gap: 150px;
}

.services-blok__section-1__container-part {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.services-blok__section-1__container-part div {
    display: flex;
    justify-content: start;
    gap: 10px;
    align-items: center;
}

.services__icon {
    color: var(--violet-color);
    width: 15px;
    height: 15px;
}

.services-blok__section-1__container-part div p {
    font-family: var(--p-ff);
    color: var(--text-color);
}

.service-2-blok__section-1 {
    padding: 15px;
    border: 1px solid var(--border-light-color);
    border-radius: 15px;
    position: relative;
    width: 50%;
}

.service-2-blok__section-1 img {
    width: 100%;
    border-radius: 10px;
}

@media (max-width: 1280px) {
    .services-blok {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .services-blok__section-1 {
        width: 100%;
    }
    .service-2-blok__section-1 {
        width: 100%;
    }
    .services-blok__section-1 h1 {
        font-size: 20px;
    }
    
    .services-blok__section__p-1 {
        font-size: 14px;
    }

    .services-blok__section-1__container {
        display: flex;
        justify-content: space-between;
        gap: 0;
    }

    .services-blok__section-1__container-part div p {
        font-size: 14px;
    }

    .services-blok__section-1__container-part div {
        min-height: 50px;
    }
}