.team {
    padding: 100px 0;
}

.team-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
}

.team-header h1 {
    color: #fff;
    font-size: 250%;
}

.team-header div {
    height: 40px;
    width: 1px;
    background-color: var(--border-light-color);
}

.team-header p {
    font-family: var(--p-ff);
    color: var(--text-color);
    line-height: 1.5;
    max-width: 300px;
    font-size: 105%;
}

.team-blok {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.team-blok__section {
    padding: 15px;
    border-radius: 15px;
    background-image: linear-gradient(180deg, #2B2338 0%, #0A0118 100%);
    border: 1px solid var(--border-light-color);
    transition: .5s;
    cursor: pointer;
}

.team-blok__section:hover {
    border-color: var(--violet-color);
}

.team-blok__section__image {
    max-width: 250px;
    overflow: hidden;
    border-radius: 10px;
}

.team-blok__section__image img {
    filter: grayscale(100%) brightness(40%);
    width: 100%;
    height: auto;
    transition: .5s;
    cursor: pointer;
    min-height: 270px;
    object-fit: cover;
}

.team-blok__section:hover .team-blok__section__image img {
    filter: none;
}

.team-blok__section__container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    padding: 20px 10px;
}

.team-blok__section__container h3 {
    color: var(--purple-color);
    font-weight: 400;
}

.team-blok__section__container p {
    color: #fff;
    font-weight: 600;
    font-size: 105%;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .team {
        padding: 50px 0;
    }
    .team-blok {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .team-header {
        display: flex;
        flex-direction: column;
    }
    .team-header div {
        display: none;
    }
    .team-header h1 {
        font-size: 24px;
    }

    .team-header p {
        text-align: center;
        font-size: 14px;
        max-width: 700px;
        width: 100%;
    }
    .team-blok__section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .team-blok__section__image {
        max-width: 200px;
        overflow: hidden;
        border-radius: 10px;
    }
    .team-blok__section__container h3 {
        font-size: 18px;
    }
    .team-blok__section__container p {
        font-size: 13px;
    }
}