.title {
    padding: 100px 20px 30px 20px;
}

.title-blok {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.title-blok p {
    text-align: center;
    color: var(--purple-color);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 95%;
}

.title-blok h1 {
    font-size: 230%;
    color: #fff;
    max-width: 600px;
    text-align: center;
}

@media (max-width: 768px) {
    .title-blok p {
        font-size: 12px;
    }
    .title-blok h1 {
        font-size: 24px;
    }
}